*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(0,0,0,0.17);
    min-height: 9vh;
    min-width: 100%;
    box-sizing: border-box;
}
header h1 img{
    height: 7vh;
    padding-left: 15px;
    padding-top: 3px;
    box-sizing: border-box;
}
.nav{
    padding-top: 6px;
    width: 100%;
    min-height: 8vh;
    background-color: rgba(0,0,0,0.30);
    box-sizing: border-box;
}
body ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
ul li{
    text-align: center;
    width: 100px;
    line-height: 40px;
    border: 1px solid black;
    margin: 0 10px 0;
    box-sizing: border-box;
}
li:hover{
    background-color: rgba(0,0,0,0.40);
}
.nav ul li a{
    text-decoration: none;
}
.content{
     min-height: 75vh;
     box-sizing: border-box;
 }
#page1, #page2, #page3{
    display: none;
}
#page1:target{
    display: block;
    padding: 15px;
    box-sizing: border-box;
}
#page2:target{
    display: block;
    padding: 15px;
    box-sizing: border-box;
}
#page3:target{
    display: block;
    padding: 15px;
    box-sizing: border-box;
}
footer{
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    min-height: 8vh;
    background-color: blueviolet;
}